<div class="lightbox mt-5" data-plugin-options="{'delegate': 'a', 'type': 'image', 'gallery': {'enabled': true}, 'mainClass': 'mfp-with-zoom', 'zoom': {'enabled': true, 'duration': 300}}">
    <div class="owl-carousel owl-theme stage-margin" data-plugin-options="{'items': 4, 'margin': 10, 'loop': false, 'nav': true, 'dots': false, 'stagePadding': 40}">
        <div>
            <a class="img-thumbnail img-thumbnail-no-borders img-thumbnail-hover-icon" href="/public/img/home/gal1.webp">
                <img class="img-fluid" src="/public/img/home/gal1.webp" alt="Project Image">
            </a>
        </div>
        <div>
            <a class="img-thumbnail img-thumbnail-no-borders img-thumbnail-hover-icon" href="/public/img/home/gal5.jpg">
                <img class="img-fluid" src="/public/img/home/gal5.jpg" alt="Project Image">
            </a>
        </div>
        <div>
            <a class="img-thumbnail img-thumbnail-no-borders img-thumbnail-hover-icon" href="/public/img/home/gal4.webp">
                <img class="img-fluid" src="/public/img/home/gal4.webp" alt="Project Image">
            </a>
        </div>
        <div>
            <a class="img-thumbnail img-thumbnail-no-borders img-thumbnail-hover-icon" href="/public/img/home/gal2.webp">
                <img class="img-fluid" src="/public/img/home/gal2.webp" alt="Project Image">
            </a>
        </div>
        <div>
            <a class="img-thumbnail img-thumbnail-no-borders img-thumbnail-hover-icon" href="/public/img/home/gal3.webp">
                <img class="img-fluid" src="/public/img/home/gal3.webp" alt="Project Image">
            </a>
        </div>
        <div>
            <a class="img-thumbnail img-thumbnail-no-borders img-thumbnail-hover-icon" href="/public/img/other/campus.jpg">
                <img class="img-fluid" src="/public/img/other/campus.jpg" alt="Project Image">
            </a>
        </div>
        <div>
            <a class="img-thumbnail img-thumbnail-no-borders img-thumbnail-hover-icon" href="/public/img/other/dare_skills.jpg">
                <img class="img-fluid" src="/public/img/other/dare_skills.jpg" alt="Project Image">
            </a>
        </div>
        <div>
            <a class="img-thumbnail img-thumbnail-no-borders img-thumbnail-hover-icon" href="/public/img/other/faculty.jpg">
                <img class="img-fluid" src="/public/img/other/faculty.jpg" alt="Project Image">
            </a>
        </div>
        <div>
            <a class="img-thumbnail img-thumbnail-no-borders img-thumbnail-hover-icon" href="/public/img/other/other_skills.jpg">
                <img class="img-fluid" src="/public/img/other/other_skills.jpg" alt="Project Image">
            </a>
        </div>
        <div>
            <a class="img-thumbnail img-thumbnail-no-borders img-thumbnail-hover-icon" href="/public/img/other/pedelogy.jpg">
                <img class="img-fluid" src="/public/img/other/pedelogy.jpg" alt="Project Image">
            </a>
        </div>
        <div>
            <a class="img-thumbnail img-thumbnail-no-borders img-thumbnail-hover-icon" href="/public/img/other/it_skills.jpg">
                <img class="img-fluid" src="/public/img/other/it_skills.jpg" alt="Project Image">
            </a>
        </div>
        <div>
            <a class="img-thumbnail img-thumbnail-no-borders img-thumbnail-hover-icon" href="/public/img/other/soft_skills.jpg">
                <img class="img-fluid" src="/public/img/other/soft_skills.jpg" alt="Project Image">
            </a>
        </div>
    </div>
</div>