<div class="col-sm-10 col-lg-4 mb-4 mb-lg-0">
    <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary my-4">
        <div class="featured-box">
            <a href="/nda">
                <div class="box-content px-3">
                    <i class="icon-featured fas fa-meteor text-color-primary"></i>
                    <h2 class="font-weight-normal text-5"><strong class="font-weight-extra-bold">NDA</strong></h2>
                    <p class="mb-0">The National Defence Academy is the Joint Services Academy </p>
                    <button href="/nda" class="btn btn-light btn-outline font-weight-semibold text-color-dark btn-px-5 btn-py-2 border-width-1 text-1 mt-3">LEARN MORE</button>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="col-sm-10 col-lg-4 mb-4 mb-lg-0">
    <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary my-4">
        <div class="featured-box">
            <a href="/ssb">
                <div class="box-content px-3">
                    <i class="icon-featured fas fa-user-tie text-color-primary"></i>
                    <h2 class="font-weight-normal text-5"><strong class="font-weight-extra-bold">SSB/Interview</strong></h2>
                    <p class="mb-0">Services Selection Board gauges the caliber , strengths and personality </p>
                    <button class="btn btn-light btn-outline font-weight-semibold text-color-dark btn-px-5 btn-py-2 border-width-1 text-1 mt-3">LEARN MORE</button>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="col-sm-10 col-lg-4 mb-4 mb-lg-0">
    <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary my-4">
        <div class="featured-box">
            <a href="/cpo">
                <div class="box-content px-3">
                    <i class="icon-featured fas fa-users text-color-primary"></i>
                    <h2 class="font-weight-normal text-5"><strong class="font-weight-extra-bold">CPO</strong></h2>
                    <p class="mb-0">Central Police Organization (CPO) Exam is a National Level Examination </p>
                    <button class="btn btn-light btn-outline font-weight-semibold text-color-dark btn-px-5 btn-py-2 border-width-1 text-1 mt-3">LEARN MORE</button>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="col-sm-10 col-lg-4 mb-4 mb-lg-0">
    <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary my-4">
        <div class="featured-box">
            <a href="/afcat">
                <div class="box-content px-3">
                    <i class="icon-featured fas fa-user text-color-primary"></i>
                    <h2 class="font-weight-normal text-5"><strong class="font-weight-extra-bold">AFCAT</strong></h2>
                    <p class="mb-0">Air Force Common Admission Test is a National Level Competitive Exam </p>
                    <button class="btn btn-light btn-outline font-weight-semibold text-color-dark btn-px-5 btn-py-2 border-width-1 text-1 mt-3">LEARN MORE</button>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="col-sm-10 col-lg-4 mb-4 mb-lg-0">
    <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary my-4">
        <div class="featured-box">
            <a href="/cds">
                <div class="box-content px-3">
                    <i class="icon-featured fas fa-street-view text-color-primary"></i>
                    <h2 class="font-weight-normal text-5"><strong class="font-weight-extra-bold">CDS/OTA</strong></h2>
                    <p class="mb-0">Combined Defence Services Examination is conducted </p>
                    <button class="btn btn-light btn-outline font-weight-semibold text-color-dark btn-px-5 btn-py-2 border-width-1 text-1 mt-3">LEARN MORE</button>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="col-sm-10 col-lg-4 mb-4 mb-lg-0">
    <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary my-4">
        <div class="featured-box">
            <a href="/dps">
                <div class="box-content px-3">
                    <i class="icon-featured fas fa-user-secret text-color-primary"></i>
                    <h2 class="font-weight-normal text-5"><strong class="font-weight-extra-bold">Delhi Police</strong></h2>
                    <p class="mb-0">Delhi police is the Law Enforcement Agency for the National Territory </p>
                    <button class="btn btn-light btn-outline font-weight-semibold text-color-dark btn-px-5 btn-py-2 border-width-1 text-1 mt-3">LEARN MORE</button>
                </div>
            </a>
        </div>
    </div>
</div>