<!DOCTYPE html>
<html>

<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Arrow Achievers</title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <%- include('../includes/head.ejs') %>

</head>

<body class="loading-overlay-showing" data-plugin-page-transition data-loading-overlay data-plugin-options="{'hideDelay': 500}">
    <div class="loading-overlay">
        <div class="bounce-loader">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <div class="body">
        <%- include('../includes/header.ejs') %>
            <div class="divider130"></div>
            <div role="main" class="main">
                <section class="page-header page-header-classic page-header-sm" style="background: url(/public/img/background/aboutus.jpg); background-size: cover; height: 400px; background-repeat: no-repeat;">
                    <div class="">
                        <div class="row">
                            <div class="col-md-12 order-2 order-md-1 align-self-center backgroundHeading">
                                <span class="page-header-title-border visible" style="width: 43.25px;"></span>
                                <h1 data-title-border="">About Us</h1>
                            </div>
                            <!-- <div class="col-md-4 order-1 order-md-2 align-self-center">
								<ul class="breadcrumb d-block text-md-right">
									<li><a href="#">Home</a></li>
									<li class="active">Pages</li>
								</ul>
							</div> -->
                        </div>
                    </div>
                </section>

                <div class="container">

                    <div class="row mb-5">
                        <div class="col">
                            <div class="row mt-3 ">
                                <div class="col-md-12 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="800">

                                    <h1 class="mb-5 word-rotator slide font-weight-bold text-8 mb-0 appear-animation text-center" data-appear-animation="maskUp">
                                        <span>About us</span>
                                    </h1>
                                    <p>Arrow Achievers is a unit of the esteemed Aparajita Educational Trust, which was established in 2010, with an intent to disseminate quality education in K12 and skill based job- oriented learning . The AET is holding
                                        organisation for APS group of institutions, which includes:</p>

                                    <ul>
                                        <li>Aatman Public School- K12 CBSE School (Khivai, Meerut)</li>
                                        <li>APS College of Education and Technology</li>
                                        <li>APS College</li>
                                        <li>Gumla Polytechnic,( Gumla, Jharkhand)</li>
                                    </ul>
                                    <p>These institutions are running Engineering diploma courses, B. Ed. Btc (Dip in el. Ed). for last 10 years. The latest eduventure of AET in Gumla, is an initiative in collaboration with the Govt of Jharkhand, on PPP
                                        mode.
                                    </p>
                                    <p>We are now focussing our eduenergy on creating a multimodal learning environment for assuring quality life skills oriented learning for all our students. </p>
                                    <p>The ARROW ACHIEVERS , an academy for aspirants in Armed Forces is a tribute to the high spirit of our forces, who toil tirelessly for our safe and happy life. We provide hardcore mentoring for aspirants in armed forces,
                                        through dedicated well curated course structure, including physical and academic training. We assure that every aspirant is fully trained, in dare survival, behavioural and IT skills , enhancing his employability
                                        quotient in the toughest competitive work environment.</p>
                                </div>

                            </div>
                            <div class="row mt-3">
                                <div class="col-md-12 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="800">

                                    <h2 class="mb-2 word-rotator slide font-weight-bold text-8 mb-0 appear-animation" data-appear-animation="maskUp">
                                        <span>Beacon of Light </span>
                                    </h2>
                                    <p>Ms. Anita Jha, the Chairperson , an edupreneur , with an experience in Skill and Aesthetic Education, has been successfully running the Aatman Academy of Learning. The Academy is a renowned name in the field of Performing
                                        Art and has been receiving the blessing and guidance of Padma Vibhushan Pt. Birju Maharaj Ji. She is positive energy encapsulated in go-getter mode and Arrow Achievers, is her tribute to the Men in Uniform, our
                                        Armed Forces ,who also encompass the contribution of many of her family members. </p>
                                    <p>Ms. Savita Jha, the Trustee is the guiding light of AET. She mentors the entire work culture of institutions of AET in ethical practices and Trustee training for right thinking. Her cosmic life experiences are a treasure
                                        of wisdom and have been navigating the team Aparajita to move incessantly towards the mission of imparting quality education.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <section class="section section-height-3 bg-color-grey-scale-1 m-0 border-0">
                    <div class="row text-center pb-5">
                        <div class="col-md-9 mx-md-auto">
                            <div class="overflow-hidden mb-3">
                                <h1 class="word-rotator slide font-weight-bold text-8 mb-0 appear-animation" data-appear-animation="maskUp">
                                    <span>We are <?= $title ?></span>
                                </h1>
                            </div>
                            <div class="overflow-hidden mb-3">
                                <p class="lead mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">
                                    <b>Transforming your dreams into actuality</b><br/> The most Reliable and Legendary Training Institute for Selection in Defence Forces
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row mt-3 mb-5">

                            <div class="col-md-6 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="800">
                                <h3 class="font-weight-bold text-4 mb-2">Our Mission</h3>
                                <p><b>Shaping your Career brilliantly and patriotically</b></p>
                                <p>Every year, young aspirants face the dilemma of choosing a career that not only gives them name , fame and a highly lucrative job but also self contentment. We aim at resolving this dilemma by giving a life- changing experience
                                    to our youth by preparing them to serve the nation through recruitment in Indian Armed Forces, State Police Services and Paramilitary Forces. We, at Arrow Achievers, navigate the trainees to explore new opportunities
                                    for themselves as per their own interests and capabilities and then enhance their knowledge and skill sets. Our mission is to foster the raw talents of the youth and facilitate them to crack the most arduous Competitive
                                    Exams for the Defence Services.</p>
                            </div>
                            <div class="col-md-6 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="600">
                                <h3 class="font-weight-bold text-4 mb-2">Our Vision</h3>
                                <p><b>”Allow your passion to become your purpose, and it will one day become your profession.”
									<i style="float:right;">- Gabrielle Bernstein</i></b></p>
                                <p>We envision that each one of us has the potential to make the world a better place to live in and what could be better than devoting your whole life in service of your motherland. Armed Forces necessitate a person to be
                                    a perfect blend of intellect, moral values, dedication, discipline, chivalry, leadership courage and patriotism. We firmly believe that by imparting comprehensive coaching and training to the aspirants with daring feat
                                    and perseverance, we are producing best cadets for the nation.</p>
                            </div>
                        </div>
                    </div>
                </section>


                <section class="section section-primary border-0 mb-0 appear-animation mr0" data-appear-animation="fadeIn" data-plugin-options="{'accY': -150}">
                    <div class="container">
                        <div class="row counters counters-sm pb-4 pt-3">
                            <div class="col-sm-6 col-lg-3 mb-5 mb-lg-0">
                                <div class="counter">
                                    <i class="icons icon-user text-color-light"></i>
                                    <strong class="text-color-light font-weight-extra-bold" data-to="10000" data-append="+">0</strong>
                                    <label class="text-4 mt-1 text-color-light">Happy Students</label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3 mb-5 mb-lg-0">
                                <div class="counter">
                                    <i class="icons icon-badge text-color-light"></i>
                                    <strong class="text-color-light font-weight-extra-bold" data-to="10">0</strong>
                                    <label class="text-4 mt-1 text-color-light">Years In Business</label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3 mb-5 mb-sm-0">
                                <div class="counter">
                                    <i class="icons icon-graph text-color-light"></i>
                                    <strong class="text-color-light font-weight-extra-bold" data-to="178">0</strong>
                                    <label class="text-4 mt-1 text-color-light">High Score</label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="counter">
                                    <i class="icons icon-cup text-color-light"></i>
                                    <strong class="text-color-light font-weight-extra-bold" data-to="52">0</strong>
                                    <label class="text-4 mt-1 text-color-light">Qualified Teachers</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="section section-height-3 bg-color-grey-scale-1 m-0 border-0">
                    <div class="container">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-lg-12 pb-sm-12">
                                <h2 class="text-color-dark font-weight-normal text-6 text-center mb-5">Who <strong class="font-weight-bold">We Are</strong></h2>
                                <!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit massa enim. Nullam id varius nunc. </p> -->
                                <p>Arrow Achievers is one of the most celebrated institute in the coaching for all arenas of the Defence Services. We are earnestly striving towards the achievement of our sole objective i.e holistic grooming of the young
                                    aspirants for Indian Armed Forces, State Police Services and Paramilitary Forces. Personalised attention is given to each and every candidate so as to ensure one’s physical , mental and social well-being. We are a strong
                                    team of academicians who provide proper guidance and right direction for the overall development of our youth so that they come out with flying colors in all the Competitive Examinations-written, interview or physical
                                    fitness test , in which they appear, be it NDA, SSB, CPO,AFCAT,CDS,OTA , Delhi Police and other State Police. You can count upon Arrow Achievers for excellent success rate as we focus on the minutest details during
                                    the Exam Preparation Process. </p>
                            </div>
                            <div class="row mb20 mrm0">
                                <div class="col-lg-6 pb-sm-12">
                                    <h2 class="text-color-dark font-weight-normal text-6 mb-2"><strong class="font-weight-bold">Campus</strong></h2>
                                    <!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit massa enim. Nullam id varius nunc. </p> -->
                                    <p>Located in the lush green surroundings, far from the maddening crowd of the cities, the Campus is a sight to behold. Arrow Achievers take pride in its sprawling 8 acre campus with a 33000 sqft building, equipped with
                                        Computer Lab, Language Lab and 22 spacious classrooms. The Campus has an enormous outdoor task field with 400 metre track ,all physical training related equipments and apparatus and also a 7 Course open Gymnasium.
                                        With this glorious infrastructure and congenial environment the cadets feel safe , secure and comfortable, while learning the best lessons of their life. Residential campus and mess facilities can be availed by
                                        the students from other parts of the country. </p>
                                </div>
                                <div class="col-lg-6 pb-sm-12">
                                    <div class="contentImage"><img class="img-responsive mt40" src="/public/img/other/campus.jpg" /></div>
                                </div>
                            </div>
                            <div class="row mb20 mrm0">
                                <div class="col-lg-6 pb-sm-12 mobileNone">
                                    <div class="contentImage"><img class="img-responsive" src="/public/img/other/faculty.jpg" /></div>
                                </div>
                                <div class="col-lg-6 pb-sm-12">
                                    <h2 class="text-color-dark font-weight-normal text-6 mb-2"><strong class="font-weight-bold">Faculty </strong></h2>
                                    <!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit massa enim. Nullam id varius nunc. </p> -->
                                    <p>We have a team of well qualified and committed Faculty members with an immense experience and expertise. The competent mentors not only facilitate the aspirants to enhance their Academic excellence and give them hard-
                                        core physical fitness training to develop them into well-groomed officers, they also instill in them moral values. They emphasise on stringent rules and regulations so as to make the students disciplined, self reliant
                                        and perseverant. </p>
                                </div>
                                <div class="col-lg-6 pb-sm-12 desktopNone">
                                    <div class="contentImage"><img class="img-responsive" src="img/other/faculty.jpg" /></div>
                                </div>
                            </div>
                            <div class="row mb20 mrm0">
                                <div class="col-lg-7 pb-sm-12">
                                    <h2 class="text-color-dark font-weight-normal text-6 mb-2"><strong class="font-weight-bold">Teaching Pedagogy </strong></h2>
                                    <!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit massa enim. Nullam id varius nunc. </p> -->
                                    <p>Experienced Mentors ensure that the curriculum framework is designed to meet the eligibility criteria of various Competitive Exams adapting a Coherent and Systematic approach . Mock Tests, Screening Tests and Mock Interviews
                                        are organized on regular basis, to give the students a tough drilling to appear in the Competitive Exams. Previous Years Question Papers are attempted by the aspirants and follow up work is also monitored by the
                                        teachers to ensure that ample practice is taken up by them. Group Discussions and Debating Sessions are a customary feature to augment communication skills of the aspirants, as we believe that great leaders need
                                        to be great orators as well. One- to- one Counseling Sessions are taken up to bring about clarity and transparency in the cadets as far as their choices, doubts and caliber is concerned. Training modules are designed
                                        explicitly keeping in sync with the ground-breaking techniques which are the need of the hour. No stone is left unturned to shape up the personality of the cadets in such a manner that the nation feels proud of
                                        them. This all makes us stand apart from the others as we believe in updating ourselves with the ever changing times, while staying rooted to the ground. </p>
                                </div>
                                <div class="col-lg-5 pb-sm-12">
                                    <div class="contentImage"><img class="img-responsive mt40" src="/public/img/other/pedelogy.jpg" /></div>
                                </div>
                            </div>


                        </div>
                    </div>
                </section>

                <div class="container appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300">
                    <div class="row pt-5 pb-4 my-5">

                        <div class="col-md-12 order-1 order-md-2 text-center text-md-left mb-5 mb-md-0">
                            <h2 class="text-color-dark font-weight-normal text-6 mb-2 pb-1"><strong class="font-weight-extra-bold">LET’S MAKE A DIFFERENCE </strong></h2>
                            <p><b>”Take Passion and Determination anywhere you go and we promise you, you’ll go far.”
									<i style="float:right;">- Dorothea Jackson</i></b></p>
                            <p class="mb-4">Arrow Achievers has set a benchmark in producing brilliant and valiant cadets to serve the nation. We not only make the youth aware of various career choices but coach and train them to get selected for virtuous positions in
                                the Army, Navy , Air force, BSF,CRPF,ITBP, CISF,SSB ,Delhi Police and other State Police Forces. Eventually there will be no looking back. Once you are enrolled with us you can rest assured that you will be able to crack
                                all the tedious Competitive exams in the very first attempt. Since its inception the institute has adopted a Result- oriented approach and for the aspirants, who are willing to do something laudable, honourable and audacious
                                in life, this is the place to join. Arrow Achievers has an edge over the others in terms of impeccable infrastructure, extremely erudite and experienced faculty, meticulously designed study modules and innovative training
                                techniques. We are here to steer the course of your lives positively at every step and refine your innate skills so that you can achieve your career-oriented goals. </p>
                        </div>
                    </div>
                </div>

                <section class="section bg-color-grey-scale-1 section-height-3 border-0 m-0">
                    <div class="container pb-2">
                        <div class="row">
                            <div class="col-lg-12 text-center mb-5">
                                <h2 class="text-color-dark font-weight-normal text-6 mb-2"><strong class="font-weight-bold">Students’ Feedback</strong></h2>
                                <p class="lead">We are Proud of them ! </p>
                            </div>
                            <div class="col-lg-12">
                                <div class="owl-carousel owl-theme nav-style-1 stage-margin" data-plugin-options="{'responsive': {'576': {'items': 1}, '768': {'items': 1}, '992': {'items': 1}, '1200': {'items': 1}}, 'loop': true, 'nav': false, 'dots': false, 'stagePadding': 40, 'autoplay': true, 'autoplayTimeout': 6000, 'loop': true}">
                                    <div>
                                        <div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-quotes-dark testimonial-remove-right-quote pl-md-4 mb-0">
                                            <div class="testimonial-author">
                                                <img src="/public/img/clients/client-1.jpg" class="img-fluid rounded-circle mb-0" alt="">
                                            </div>
                                            <blockquote>
                                                <p class="text-color-dark text-4 line-height-5 mb-0">I had appeared for NDA entrance exam earlier also but was not able to crack it in the first attempt. Then one of my relatives apprised me about Arrow Achievers. I luckily joined timely and under the aegis
                                                    of efficient management and trained faculty, I developed self -confidence. My perseverance and the competent training there ,helped me in cracking the NDA Exam. </p>
                                            </blockquote>
                                            <div class="testimonial-author">
                                                <p><strong class="font-weight-extra-bold text-2">Ritwik Singh</strong></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-quotes-dark testimonial-remove-right-quote pl-md-4 mb-0">
                                            <div class="testimonial-author">
                                                <img src="/public/img/clients/client-1.jpg" class="img-fluid rounded-circle mb-0" alt="">
                                            </div>
                                            <blockquote>
                                                <p class="text-color-dark text-4 line-height-5 mb-0">Arrow Achievers has given a right direction not only to my career , but has made my life so complete and worthy. I received immense guidance from the faculty, who were always there for me , when I had doubts
                                                    about anything. I was given personalized attention, which helped to boost my morale and I was able to get good ranking in my SSB Examination.</p>
                                            </blockquote>
                                            <div class="testimonial-author">
                                                <p><strong class="font-weight-extra-bold text-2">Pranay Mishra</strong></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-quotes-dark testimonial-remove-right-quote pl-md-4 mb-0">
                                            <div class="testimonial-author">
                                                <img src="/public/img/clients/client-1.jpg" class="img-fluid rounded-circle mb-0" alt="">
                                            </div>
                                            <blockquote>
                                                <p class="text-color-dark text-4 line-height-5 mb-0">I was not sure about my plans for future but I got the clarity for my future venture by joining Arrow Achievers. I was also apprehensive about the Selection Process for various Competitive Exams but I was
                                                    exposed to the challenging overall training including personality development. It helped me in improving my confidence level and strengthening my goals in life. I am at present successfully training
                                                    at NDA.</p>
                                            </blockquote>
                                            <div class="testimonial-author">
                                                <p><strong class="font-weight-extra-bold text-2">Aakash Dabas</strong></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-quotes-dark testimonial-remove-right-quote pl-md-4 mb-0">
                                            <div class="testimonial-author">
                                                <img src="/public/img/clients/client-1.jpg" class="img-fluid rounded-circle mb-0" alt="">
                                            </div>
                                            <blockquote>
                                                <p class="text-color-dark text-4 line-height-5 mb-0">My journey at Arrow Achiever has been very fulfilling and fruitful. I was given training under the supervision of best mentors. I am blessed to have such a great learning environment and coaching, which
                                                    made me physically and mentally strong. With this well organized training, Regular Mock Tests and Debating Sessions, I got selected in AFCAT Exam. I would surely recommend this Training institute to
                                                    all the aspirants , who wish to do something worthwhile in their lives.</p>
                                            </blockquote>
                                            <div class="testimonial-author">
                                                <p><strong class="font-weight-extra-bold text-2">Shekhar Ahlawat</strong></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-quotes-dark testimonial-remove-right-quote pl-md-4 mb-0">
                                            <div class="testimonial-author">
                                                <img src="/public/img/clients/client-1.jpg" class="img-fluid rounded-circle mb-0" alt="">
                                            </div>
                                            <blockquote>
                                                <p class="text-color-dark text-4 line-height-5 mb-0">I feel indebted to Arrow Achievers for giving me a Life-changing experience. It is indeed the best coaching institute and I highly appreciate the strict training that I was given, for preparing me for my
                                                    SSB Competitive Exam. I am fortunate to have cracked it with good scores.</p>
                                            </blockquote>
                                            <div class="testimonial-author">
                                                <p><strong class="font-weight-extra-bold text-2">Rajat Jha</strong></p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <%- include('../includes/footer_bottom.ejs') %>
    </div>

    <!-- Vendor -->
    <%- include('../includes/scripts.ejs') %>
        <script>
            $(document).ready(function() {
                $('#navAbout').addClass(' active');
            });
        </script>

</body>

</html>