<!DOCTYPE html>
<html>

<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>
        Arrow Achievers
    </title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <%- include('../includes/head.ejs') %>

</head>

<body class="loading-overlay-showing" data-plugin-page-transition data-loading-overlay data-plugin-options="{'hideDelay': 500}">
    <div class="loading-overlay">
        <div class="bounce-loader">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <div class="body">
        <%- include('../includes/header.ejs') %>
            <div class="divider130"></div>
            <div role="main" class="main">
                <section class="page-header page-header-classic page-header-sm">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                                <span class="page-header-title-border visible" style="width: 43.25px;"></span>
                                <h1 data-title-border="">Director’s Message</h1>
                            </div>
                            <!-- <div class="col-md-4 order-1 order-md-2 align-self-center">
								<ul class="breadcrumb d-block text-md-right">
									<li><a href="#">Home</a></li>
									<li class="active">Pages</li>
								</ul>
							</div> -->
                        </div>
                    </div>
                </section>

                <div class="container">

                    <div class="row ">
                        <div class="col">

                            <div class="row text-center">
                                <div class="col-md-9 mx-md-auto">
                                    <div class="overflow-hidden mb-3">
                                        <h1 class="word-rotator slide font-weight-bold text-8 mb-0 appear-animation" data-appear-animation="maskUp">
                                            <span>Director’s Message</span>
                                        </h1>
                                    </div>

                                </div>
                            </div>

                            <div class="row mt-3 mb-5">
                                <div class="col-md-12 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="800">

                                    <p class="lead mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">
                                        <b>“Akshay hain, Abheet hain, Ajeet hain”,</b> has always been the motto of our armed forces and undoubtedly,they are invincible and indomitable. Honouring the men in uniform, I have always dreamt of contributing
                                        positively towards the service my nation. With this vision, I envisaged the inception of Arrow Achievers and surely, the stupendous infrastructure, innovative teaching pedagogy and proficient faculty has made us
                                        ,a strong and promising team of educators.
                                    </p><br/>
                                    <p class="lead mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">
                                        Today, I take pride in enunciating that, from the time of its initiation, the training institute has prepared hundreds of aspirants, in fulfilling their passion of serving their country in some way or the other and lead a purposeful life. We feel contented
                                        on seeing the youth, carving a niche for themselves in this competitive world, while portraying their passion for this noble profession. It is my strong conviction that with perseverance, devotion, diligence, moral
                                        values and apt guidance, our youth has the caliber to face all the hard-hitting challenges and to accomplish their goals. In this journey of yours, we wish to be a guiding light for you, illuminating your path and
                                        facilitating you in reaching to your destination successfully.
                                    </p>
                                    <br/>
                                    <p class="lead mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">
                                        I would like to quote the beautiful lines by Robert Frost,
                                    </p>
                                    <br/>
                                    <p class="lead mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">
                                        <b>“ Two roads diverged in a wood, and I<br/>
												I took the one less travelled by,<br/>
												And that has made all the difference.</b><br/><br/> Wishing you a Gleaming Career ahead.<br/><br/>
                                        <b><i>- Ms Anita Jha</i> </b>
                                    </p>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>


            </div>
            <%- include('../includes/footer_bottom.ejs') %>
    </div>

    <!-- Vendor -->
    <%- include('../includes/scripts.ejs') %>
        <script>
            $(document).ready(function() {
                $('#navAbout').addClass(' active');
            });
        </script>

</body>

</html>