<!DOCTYPE html>
<html>

<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>
        Arrow Achievers
    </title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <%- include('../includes/head.ejs') %>

</head>

<body class="loading-overlay-showing" data-plugin-page-transition data-loading-overlay data-plugin-options="{'hideDelay': 500}">
    <div class="loading-overlay">
        <div class="bounce-loader">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <div class="body">
        <%- include('../includes/header.ejs') %>
            <div class="divider130"></div>
            <div role="main" class="main">
                <section class="page-header page-header-classic page-header-sm" style="background: url(/public/img/background/dps.jpg); background-size: cover; height: 400px; background-repeat: no-repeat;">
                    <div class="">
                        <div class="row">
                            <div class="col-md-12 order-2 order-md-1 align-self-center backgroundHeading">
                                <h1 data-title-border>Delhi Police/State Police</h1>
                            </div>
                            <!-- <div class="col-md-4 order-1 order-md-2 align-self-center">
								<ul class="breadcrumb d-block text-md-right">
									<li><a href="#">Home</a></li>
									<li class="active">Pages</li>
								</ul>
							</div> -->
                        </div>
                    </div>
                </section>

                <div class="container pb-1">

                    <div class="row pt-4">
                        <div class="col-md-9">
                            <div class="overflow-hidden mb-3">
                                <h2 class="text-center" style="color:#888; font-style: italic;"><b>“Bravery is not the absence of fear but Action in the Face of Fear”</b></h2><br/>
                                <h2 class="bword-rotator slide font-weight-bold text-8 mb-0 appear-animation" data-appear-animation="maskUp">
                                    <a href="registration-form.php" class="btn btn-modern btn-primary mt-1" style="font-size:14px;float:right;">Join Course</a> Motto: Shanti Seva Nyaya

                                </h2>
                            </div>

                            <div class="overflow-hidden">
                                <p style="font-size:1rem; letter-spacing:inherit;" class="lead mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="250">
                                    Delhi police is the Law Enforcement Agency for the National Territory of Delhi(NCT) and is one of the largest metropolitan police forces in the world.
                                </p>
                                <br/>
                                <p><b>Age:</b> 18 - 27 years</p>
                                <p><b>Eligibility Criteria:</b> Intermediate (Class XII Pass)</p>
                                <p><b>Physical standards:</b> Sound state of health, free from defect/deformity/disease, vision 6/12 without glasses both eyes, free from colour blindness</p>
                            </div>
                        </div>
                        <div class="col-md-3 rightSideLink">
                            <h2 class="word-rotator slide font-weight-bold text-8 appear-animation mb-3" data-appear-animation="maskUp"><a href="our_programs.php">All Courses</a></h2>
                            <ul>
                                <li><a href="nda.php">NDA</a></li>
                                <li><a href="ssb.php">SSB/Interview</a></li>
                                <li><a href="cpo.php">CPO</a></li>
                                <li><a href="afcat.php">AFCAT</a></li>
                                <li><a href="cds.php">CDS/OTA</a></li>

                            </ul>
                        </div>

                    </div>
                </div>
                <section class="section section-default border-0 my-5 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="750">
                    <div class="container">

                        <div class="row align-items-center">

                            <div class="col-md-12">
                                <div class="overflow-hidden mb-2">
                                    <h2 class="text-color-dark font-weight-normal text-5 mb-0 pt-0 mt-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="1200"><strong class="font-weight-bold">Other Information</strong></h2>
                                </div>
                                <p>
                                    We provide consummate training to the cadets, who have the passion to serve the society, by illuminating their most intrepid, spirited and devoted character traits. The Police Force is one of the most stupendous cadre and one of the most rewarding career
                                    options. We prepare the cadets for Delhi Police Exam, which includes both-the written as well as the physical test and for this, a methodical and well -planned strategy and curriculum framework has been designed. Personal
                                    training and attention is given to each aspirant to boost up his morale and to ensure that his selfbelief and vigor level shoot up during the training period.
                                </p>

                            </div>
                        </div>

                    </div>
                </section>

            </div>
            <%- include('../includes/footer_bottom.ejs') %>
    </div>

    <!-- Vendor -->
    <%- include('../includes/scripts.ejs') %>
        <script>
            $(document).ready(function() {
                $('#navCourses').addClass(' active');
            });
        </script>

</body>

</html>