<!DOCTYPE html>
<html>

<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>
        Arrow Achievers
    </title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <%- include('../includes/head.ejs') %>

</head>

<body class="loading-overlay-showing" data-plugin-page-transition data-loading-overlay data-plugin-options="{'hideDelay': 500}">
    <div class="loading-overlay">
        <div class="bounce-loader">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <div class="body">
        <%- include('../includes/header.ejs') %>
            <div class="divider130"></div>
            <div role="main" class="main">
                <section class="page-header page-header-classic page-header-sm">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                                <h1 data-title-border>NDA</h1>
                            </div>
                            <!-- <div class="col-md-4 order-1 order-md-2 align-self-center">
								<ul class="breadcrumb d-block text-md-right">
									<li><a href="#">Home</a></li>
									<li class="active">Pages</li>
								</ul>
							</div> -->
                        </div>
                    </div>
                </section>

                <div class="container pb-1">

                    <div class="row pt-4">
                        <div class="col">
                            <div class="overflow-hidden mb-3">
                                <h2 class="word-rotator slide font-weight-bold text-8 mb-0 appear-animation" data-appear-animation="maskUp">
                                    <a href="#" class="btn btn-modern btn-primary mt-1" style="font-size:14px;float:right;">Join Course</a>
                                    <span>NATIONAL DEFENCE ACADEMY (NDA)</span>

                                </h2>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-lg-12">
                            <div class="overflow-hidden">
                                <p style="font-size:1rem; letter-spacing:inherit;" class="lead mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="250">
                                    The National Defence Academy (NDA) is the Joint Services academy of the Indian Armed Forces, where cadets of the three services, the Army, the Navy and the Air Force train together before they go on to pre-commissioning training in their respective service
                                    academies. The NDA is located in Khadakwasla near Pune, Maharashtra. It is the first tri-service academy in the world.
                                    <br/>NDA alumni have led and fought in every major conflict in which the Indian Armed Forces has been called to action since the academy was established. The alumni include 3 Param Vir Chakra recipients and 9 Ashoka
                                    Chakra recipients.
                                    <br/>NDA alumni have led and fought in every major conflict in which the Indian Armed Forces has been called to action since the academy was established. The alumni include 3 Param Vir Chakra recipients and 9 Ashoka
                                    Chakra recipients.
                                    <br/>NDA or National Defence Academy is a national institute for training selected young men for officer level entry into the Armed forces of India. NDA is located at Khadakwasla near Pune, Maharashtra. It is a training
                                    facility for the leaders of tomorrow who will be respected and followed. It is not just an institution but a way of life. NDA transforms a hesitant young cadet into an honourable, physically and mentally competent and
                                    polished man who is prepared for any kind of adversity that might face him; an officer and a gentleman.
                                    <br/>The training at NDA is rigorous. In addition to service training for the army, navy and air force, the cadets are also taught academics to cover the graduation level degree in Arts, Sciences or Computers. The training
                                    at NDA is broken into six terms and the total duration of training is three years. Once their training is concluded, the cadets are awarded their bachelor’s degree at the passing out parade of NDA. Thereafter the cadets
                                    go to their respective service institutes i.e. the Indian Military Academy or IMA for army cadets, Air Force Academy Hyderabad for Air force cadets and Naval Academy Cochin for Naval Cadets.

                                </p>
                            </div>
                        </div>

                    </div>
                </div>
                <section class="section section-default border-0 my-5 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="750">
                    <div class="container py-4">

                        <div class="row align-items-center">
                            <div class="col-md-6 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1000">
                                <img src="/public/img/home/gal1.webp" class="img-fluid">
                            </div>
                            <div class="col-md-6">
                                <div class="overflow-hidden mb-2">
                                    <h2 class="text-color-dark font-weight-normal text-5 mb-0 pt-0 mt-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="1200"><strong class="font-weight-bold">Eligibility criteria for NDA</strong></h2>
                                </div>
                                <ul class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1400">
                                    <li><b>Nationality:</b><br/> A candidate must be a citizen of India.
                                    </li>
                                    <li><b>Marital Status:</b><br/> Only unmarried male candidates are eligible to apply.
                                    </li>
                                    <li><b>Sex:</b><br/> Male candidates only. Women cannot apply for NDA.
                                    </li>
                                    <li><b>Duration of Training:</b><br/> 3 Yrs at NDA and 1 Yrs at IMA(For Army cadets)<br/> 3 Yrs at NDA and 1 Yrs at Naval Academy( for Naval cadets)<br/> 3 Yrs at NDA and 1 & ½ Yrs at AFA Hyderabad (For AF cadets)
                                    </li>
                                </ul>

                            </div>
                        </div>

                    </div>
                </section>

                <div class="container">

                    <div class="row mt-5 py-3">
                        <div class="col-md-6">
                            <div class="toggle toggle-primary toggle-simple m-0" data-plugin-toggle>
                                <section class="toggle active mt-0">
                                    <label>Educational Qualifications</label>
                                    <div class="toggle-content">
                                        <p>Candidates who are appearing in the 12th Class under the 10+2 pattern of School Education or equivalent examination can also apply for this examination. Candidates appearing in the 11th class exam are not eligible
                                            for this examination. Those candidates who have yet to qualify in the 12th class or equivalent examination and are allowed to appear in the UPSC Examination should note that this is only a special concession
                                            given to them. .</p>
                                    </div>
                                </section>
                                <section class="toggle">
                                    <label>Visual standards</label>
                                    <div class="toggle-content">
                                        <p>The distance vision (corrected) should be 6/6 in better eye and 6/9 in the worse eye. Myopia should not be more than 2.5 D and hypermetropia not more than 3.5 D including Astigmatism. Internal examination of the
                                            eye will be done using the ophthalmoscope to rule out any disease of the eye.</p>
                                        <ul>
                                            <li>Corrected with glass 6/6, 6/6</li>
                                            <li>Limits of Myopia –0.75</li>
                                            <li>Limits of Hypermetropia +1.5</li>
                                            <li>Binocular Vision III</li>
                                            <li>Limits of colour perception I</li>
                                            <li>Uncorrected without glass 6/6, 6/9</li>
                                        </ul>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="/public/img/home/gal2.webp" class="img-fluid">
                        </div>
                    </div>


                </div>





















            </div>
            <%- include('../includes/footer_bottom.ejs') %>
    </div>

    <!-- Vendor -->
    <%- include('../includes/scripts.ejs') %>
        <script>
            $(document).ready(function() {
                $('#navCourses').addClass(' active');
            });
        </script>

</body>

</html>