<!DOCTYPE html>
<html>

<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>
        Arrow Achievers
    </title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <%- include('../includes/head.ejs') %>

</head>

<body class="loading-overlay-showing" data-plugin-page-transition data-loading-overlay data-plugin-options="{'hideDelay': 500}">
    <div class="loading-overlay">
        <div class="bounce-loader">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <div class="body">
        <%- include('../includes/header.ejs') %>
            <div class="divider130"></div>
            <div role="main" class="main">
                <section class="page-header page-header-classic page-header-sm" style="background: url(/public/img/background/otherSkills.jpg); background-size: cover; height: 400px; background-repeat: no-repeat;">
                    <div class="">
                        <div class="row">
                            <div class="col-md-12 order-2 order-md-1 align-self-center backgroundHeading">
                                <span class="page-header-title-border visible" style="width: 43.25px;"></span>
                                <h1 data-title-border="">Other Skills</h1>
                            </div>
                            <!-- <div class="col-md-4 order-1 order-md-2 align-self-center">
								<ul class="breadcrumb d-block text-md-right">
									<li><a href="#">Home</a></li>
									<li class="active">Pages</li>
								</ul>
							</div> -->
                        </div>
                    </div>
                </section>

                <div class="container">

                    <div class="row pt-5">
                        <div class="col">

                            <div class="row text-center pb-5">
                                <div class="col-md-9 mx-md-auto">
                                    <div class="overflow-hidden mb-3">
                                        <h1 class="word-rotator slide font-weight-bold text-8 mb-0 appear-animation" data-appear-animation="maskUp">
                                            <span>Augmenting Skills: Shaping A New You</span>
                                        </h1>
                                    </div>
                                    <div class="overflow-hidden mb-3">
                                        <p class="lead mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">
                                            <b>“It is not the strongest or the most intelligent who will survive,<br/> but those who can best manage change”. <br/>
										<i>-Charles Darwin</i></b>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-3 mb-5">


                                <div class="row mt-3 mb-5">

                                    <div class="col-md-6 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="600">
                                        <h3 class="font-weight-bold text-5 mb-5"><a href="/our_facility" class="btn btn-modern btn-primary mt-1" style="font-size:14px; float:right">Our Facility</a>Other Skills </h3>
                                        <p>Truly said <b>“Skills can make a career or break a career ’</b>.We believe that building up a strong skill set is as important as the preparation of the written competitive exams. Developing skills- quantifiable
                                            or non quantifiable is an integral part of our training module and the complete curriculum is designed in such a way that our cadets emerge as men of sky-scraping skill sets not only to add a feather to their
                                            cap of resume but to be successful as good human beings. At Arrow Achievers, the cadets acquire hard skills like Data Analysis , Project Management, Health care, Resource Management etc through various training
                                            programs. A perfect amalgamation of Hard and Soft Skills Development is reflected in each and every activity planned for our cadets</p>
                                    </div>
                                    <div class="col-lg-6 pb-sm-12" data-appear-animation="fadeIn" data-appear-animation-delay="600">
                                        <div class="contentImage"><img class="img-responsive" src="/public/img/other/other_skills.jpg" /></div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>


            </div>
            <%- include('../includes/footer_bottom.ejs') %>
    </div>

    <!-- Vendor -->
    <%- include('../includes/scripts.ejs') %>
        <script>
            $(document).ready(function() {
                $('#navCourses').addClass(' active');
            });
        </script>

</body>

</html>