<!DOCTYPE html>
<html>

<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>
        Arrow Achievers
    </title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <%- include('../includes/head.ejs') %>

</head>

<body class="loading-overlay-showing" data-plugin-page-transition data-loading-overlay data-plugin-options="{'hideDelay': 500}">
    <div class="loading-overlay">
        <div class="bounce-loader">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <div class="body">
        <%- include('../includes/header.ejs') %>
            <div class="divider130"></div>
            <div role="main" class="main">
                <section class="page-header page-header-classic page-header-sm" style="background: url(/public/img/background/our_strength.jpg); background-size: cover; height: 400px; background-repeat: no-repeat;">
                    <div class="">
                        <div class="row">
                            <div class="col-md-12 order-2 order-md-1 align-self-center backgroundHeading">
                                <span class="page-header-title-border visible" style="width: 43.25px;"></span>
                                <h1 data-title-border="">Our Strength</h1>
                            </div>
                            <!-- <div class="col-md-4 order-1 order-md-2 align-self-center">
								<ul class="breadcrumb d-block text-md-right">
									<li><a href="#">Home</a></li>
									<li class="active">Pages</li>
								</ul>
							</div> -->
                        </div>
                    </div>
                </section>

                <div class="container">

                    <div class="row pt-5">
                        <div class="col">

                            <div class="row text-center pb-5">
                                <div class="col-md-9 mx-md-auto">
                                    <div class="overflow-hidden mb-3">
                                        <h1 class="word-rotator slide font-weight-bold text-8 mb-0 appear-animation" data-appear-animation="maskUp">
                                            <span>We are Arrow Achievers</span>
                                        </h1>
                                    </div>
                                    <div class="overflow-hidden mb-3">
                                        <p class="lead mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">
                                            <b>Transforming your dreams into actuality</b><br/> The most Reliable and Legendary Training Institute for Selection in Defence Forces
                                        </p>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>

                <section class="section section-height-3 bg-color-grey-scale-1 m-0 border-0">
                    <div class="container">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-lg-12 pb-sm-12">
                                <h2 class="text-color-dark font-weight-normal text-6 text-center mb-5">Who <strong class="font-weight-bold">We Are</strong></h2>
                                <!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit massa enim. Nullam id varius nunc. </p> -->
                                <p>Arrow Achievers is one of the most celebrated institute in the coaching for all arenas of the Defence Services. We are earnestly striving towards the achievement of our sole objective i.e holistic grooming of the young
                                    aspirants for Indian Armed Forces, State Police Services and Paramilitary Forces. Personalised attention is given to each and every candidate so as to ensure one’s physical , mental and social well-being. We are a strong
                                    team of academicians who provide proper guidance and right direction for the overall development of our youth so that they come out with flying colors in all the Competitive Examinations-written, interview or physical
                                    fitness test , in which they appear, be it NDA, SSB, CPO,AFCAT,CDS,OTA , Delhi Police and other State Police. You can count upon Arrow Achievers for excellent success rate as we focus on the minutest details during
                                    the Exam Preparation Process. </p>
                            </div>
                            <div class="row mb20 mrm0">
                                <div class="col-lg-6 pb-sm-12">
                                    <h2 class="text-color-dark font-weight-normal text-6 mb-2"><strong class="font-weight-bold">Campus</strong></h2>
                                    <!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit massa enim. Nullam id varius nunc. </p> -->
                                    <p>Located in the lush green surroundings, far from the maddening crowd of the cities, the Campus is a sight to behold. Arrow Achievers take pride in its sprawling 8 acre campus with a 33000 sqft building, equipped with
                                        Computer Lab, Language Lab and 22 spacious classrooms. The Campus has an enormous outdoor task field with 400 metre track ,all physical training related equipments and apparatus and also a 7 Course open Gymnasium.
                                        With this glorious infrastructure and congenial environment the cadets feel safe , secure and comfortable, while learning the best lessons of their life. Residential campus and mess facilities can be availed by
                                        the students from other parts of the country. </p>
                                </div>
                                <div class="col-lg-6 pb-sm-12">
                                    <div class="contentImage"><img class="img-responsive mt40" src="/public/img/other/campus.jpg" /></div>
                                </div>
                            </div>
                            <div class="row mb20 mrm0">
                                <div class="col-lg-6 pb-sm-12 mobileNone">
                                    <div class="contentImage"><img class="img-responsive" src="/public/img/other/faculty.jpg" /></div>
                                </div>
                                <div class="col-lg-6 pb-sm-12">
                                    <h2 class="text-color-dark font-weight-normal text-6 mb-2"><strong class="font-weight-bold">Faculty </strong></h2>
                                    <!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit massa enim. Nullam id varius nunc. </p> -->
                                    <p>We have a team of well qualified and committed Faculty members with an immense experience and expertise. The competent mentors not only facilitate the aspirants to enhance their Academic excellence and give them hard-
                                        core physical fitness training to develop them into well-groomed officers, they also instill in them moral values. They emphasise on stringent rules and regulations so as to make the students disciplined, self reliant
                                        and perseverant. </p>
                                </div>
                                <div class="col-lg-6 pb-sm-12 desktopNone">
                                    <div class="contentImage"><img class="img-responsive" src="/public/img/other/faculty.jpg" /></div>
                                </div>
                            </div>
                            <div class="row mb20 mrm0">
                                <div class="col-lg-7 pb-sm-12">
                                    <h2 class="text-color-dark font-weight-normal text-6 mb-2"><strong class="font-weight-bold">Teaching Pedagogy </strong></h2>
                                    <!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit massa enim. Nullam id varius nunc. </p> -->
                                    <p>Experienced Mentors ensure that the curriculum framework is designed to meet the eligibility criteria of various Competitive Exams adapting a Coherent and Systematic approach . Mock Tests, Screening Tests and Mock Interviews
                                        are organized on regular basis, to give the students a tough drilling to appear in the Competitive Exams. Previous Years Question Papers are attempted by the aspirants and follow up work is also monitored by the
                                        teachers to ensure that ample practice is taken up by them. Group Discussions and Debating Sessions are a customary feature to augment communication skills of the aspirants, as we believe that great leaders need
                                        to be great orators as well. One- to- one Counseling Sessions are taken up to bring about clarity and transparency in the cadets as far as their choices, doubts and caliber is concerned. Training modules are designed
                                        explicitly keeping in sync with the ground-breaking techniques which are the need of the hour. No stone is left unturned to shape up the personality of the cadets in such a manner that the nation feels proud of
                                        them. This all makes us stand apart from the others as we believe in updating ourselves with the ever changing times, while staying rooted to the ground. </p>
                                </div>
                                <div class="col-lg-5 pb-sm-12">
                                    <div class="contentImage"><img class="img-responsive mt40" src="/public/img/other/pedelogy.jpg" /></div>
                                </div>
                            </div>


                        </div>
                    </div>
                </section>

            </div>
            <%- include('../includes/footer_bottom.ejs') %>
    </div>

    <!-- Vendor -->
    <%- include('../includes/scripts.ejs') %>
        <script>
            $(document).ready(function() {
                $('#navAbout').addClass(' active');
            });
        </script>

</body>

</html>