<!DOCTYPE html>
<html>

<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>
        Arrow Achievers
    </title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <%- include('../includes/head.ejs') %>

</head>

<body class="loading-overlay-showing" data-plugin-page-transition data-loading-overlay data-plugin-options="{'hideDelay': 500}">
    <div class="loading-overlay">
        <div class="bounce-loader">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <div class="body">
        <%- include('../includes/header.ejs') %>
            <div class="divider130"></div>
            <div role="main" class="main">
                <section class="page-header page-header-classic page-header-sm">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                                <span class="page-header-title-border visible" style="width: 43.25px;"></span>
                                <h1 data-title-border="">Registration Form</h1>
                            </div>
                            <!-- <div class="col-md-4 order-1 order-md-2 align-self-center">
								<ul class="breadcrumb d-block text-md-right">
									<li><a href="#">Home</a></li>
									<li class="active">Pages</li>
								</ul>
							</div> -->
                        </div>
                    </div>
                </section>

                <div class="container mb20">
                    <h1 class="text-center font-weight-bold appear-animation" data-appear-animation="fadeInUpShorter">Registration</h1>
                    <div class="row appear-animation" data-appear-animation="fadeInUpShorter">
                        <div class="col-md-8" style="max-width: 800px;  margin: 0 auto;">
                            <form class="registration">
                                <div class="mb20">
                                    <label>Student Name</label>
                                    <input type="text" placeholder="Name" class="form-control" />
                                </div>
                                <div class="mb20">
                                    <label>Email</label>
                                    <input type="text" placeholder="Enter your email address" class="form-control" />
                                </div>
                                <div class="mb20">
                                    <label>Select Course</label>
                                    <select class="form-control">
													<option>Select Course</option>
													<option>NDA</option>
													<option>SSB/Interviews</option>
													<option>CPO</option>
													<option>AFCAT</option>
													<option>CDS/OTA</option>
													<option>Delhi Police/State Police</option>
												</select>
                                </div>
                                <div class="mb20">
                                    <label>Upload Documents</label>
                                    <input type="file" />
                                </div>
                                <div class="mb20 text-right">
                                    <button class="btn btn-primary">Submit</button>
                                </div>
                        </div>
                    </div>

                </div>
            </div>

    </div>
    <%- include('../includes/footer_bottom.ejs') %>
        </div>

        <!-- Vendor -->
        <%- include('../includes/scripts.ejs') %>
            <script>
                $(document).ready(function() {
                    $('#navCourses').addClass(' active');
                });
            </script>

</body>

</html>