<!DOCTYPE html>
<html>

<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Arrow Achievers</title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <%- include('../includes/head.ejs') %>

</head>

<body class="loading-overlay-showing" data-plugin-page-transition data-loading-overlay data-plugin-options="{'hideDelay': 500}">
    <div class="loading-overlay">
        <div class="bounce-loader">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <div class="body">
        <%- include('../includes/header.ejs') %>
            <div class="divider130"></div>
            <div role="main" class="main">
                <section class="page-header page-header-classic page-header-sm" style="background: url(/public/img/background/vision.jpg); background-size: cover; height: 400px; background-repeat: no-repeat;">
                    <div class="">
                        <div class="row">
                            <div class="col-md-12 order-2 order-md-1 align-self-center backgroundHeading">
                                <span class="page-header-title-border visible" style="width: 43.25px;"></span>
                                <h1 data-title-border="">Vision & Mission</h1>
                            </div>
                            <!-- <div class="col-md-4 order-1 order-md-2 align-self-center">
								<ul class="breadcrumb d-block text-md-right">
									<li><a href="#">Home</a></li>
									<li class="active">Pages</li>
								</ul>
							</div> -->
                        </div>
                    </div>
                </section>

                <div class="container">

                    <div class="row pt-5">
                        <div class="col">

                            <div class="row text-center pb-5">
                                <div class="col-md-9 mx-md-auto">
                                    <div class="overflow-hidden mb-3">
                                        <h1 class="word-rotator slide font-weight-bold text-8 mb-0 appear-animation" data-appear-animation="maskUp">
                                            <span>We are Arrow Achievers</span>
                                        </h1>
                                    </div>
                                    <div class="overflow-hidden mb-3">
                                        <p class="lead mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">
                                            <b>Transforming your dreams into actuality</b><br/> The most Reliable and Legendary Training Institute for Selection in Defence Forces
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-3 mb-5">
                                <div class="col-md-12 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="800">
                                    <h3 class="font-weight-bold text-4 mb-2">Our Mission</h3>
                                    <p><b>Shaping your Career brilliantly and patriotically</b></p>
                                    <p>Every year, young aspirants face the dilemma of choosing a career that not only gives them name , fame and a highly lucrative job but also self contentment. We aim at resolving this dilemma by giving a life- changing
                                        experience to our youth by preparing them to serve the nation through recruitment in Indian Armed Forces, State Police Services and Paramilitary Forces. We, at Arrow Achievers, navigate the trainees to explore new
                                        opportunities for themselves as per their own interests and capabilities and then enhance their knowledge and skill sets. Our mission is to foster the raw talents of the youth and facilitate them to crack the most
                                        arduous Competitive Exams for the Defence Services.</p>
                                </div>
                                <div class="col-md-12 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="600">
                                    <h3 class="font-weight-bold text-4 mb-2">Our Vision</h3>
                                    <p><b>” Allow your passion to become your purpose, and it will one day become your profession.”
									<i style="float:right;">- Gabrielle Bernstein</i></b></p>
                                    <p>We envision that each one of us has the potential to make the world a better place to live in and what could be better than devoting your whole life in service of your motherland. Armed Forces necessitate a person to
                                        be a perfect blend of intellect, moral values, dedication, discipline, chivalry, leadership courage and patriotism. We firmly believe that by imparting comprehensive coaching and training to the aspirants with daring
                                        feat and perseverance, we are producing best cadets for the nation.</p>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>


            </div>
            <%- include('../includes/footer_bottom.ejs') %>
    </div>

    <!-- Vendor -->
    <%- include('../includes/scripts.ejs') %>
        <script>
            $(document).ready(function() {
                $('#navAbout').addClass(' active');
            });
        </script>

</body>

</html>