<!DOCTYPE html>
<html>

<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>
        Arrow Achievers
    </title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <%- include('../includes/head.ejs') %>

</head>

<body class="loading-overlay-showing" data-plugin-page-transition data-loading-overlay data-plugin-options="{'hideDelay': 500}">
    <div class="loading-overlay">
        <div class="bounce-loader">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <div class="body">
        <%- include('../includes/header.ejs') %>
            <div class="divider130"></div>
            <div role="main" class="main">
                <section class="page-header page-header-classic page-header-sm" style="background: url(/public/img/background/why.jpg); background-size: cover; height: 400px; background-repeat: no-repeat;">
                    <div class="">
                        <div class="row">
                            <div class="col-md-12 order-2 order-md-1 align-self-center backgroundHeading">
                                <span class="page-header-title-border visible" style="width: 43.25px;"></span>
                                <h1 data-title-border="">Why Arrow Achievers
                                </h1>
                            </div>
                            <!-- <div class="col-md-4 order-1 order-md-2 align-self-center">
								<ul class="breadcrumb d-block text-md-right">
									<li><a href="#">Home</a></li>
									<li class="active">Pages</li>
								</ul>
							</div> -->
                        </div>
                    </div>
                </section>

                <div class="container">

                    <div class="row pt-5">
                        <div class="col">

                            <div class="row text-center pb-5">
                                <div class="col-md-9 mx-md-auto">
                                    <div class="overflow-hidden mb-3">
                                        <h1 class="word-rotator slide font-weight-bold text-8 mb-0 appear-animation" data-appear-animation="maskUp">
                                            <span>We are Arrow Achievers</span>
                                        </h1>
                                    </div>
                                    <div class="overflow-hidden mb-3">
                                        <p class="lead mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">
                                            <b>Transforming your dreams into actuality</b><br/> The most Reliable and Legendary Training Institute for Selection in Defence Forces
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="container appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300">
                    <div class="row pt-5 pb-4 my-5">

                        <div class="col-md-12 order-1 order-md-2 text-center text-md-left mb-5 mb-md-0">
                            <h2 class="text-color-dark font-weight-normal text-6 mb-2 pb-1"><strong class="font-weight-extra-bold">LET’S MAKE A DIFFERENCE </strong></h2>
                            <p><b>”Take Passion and Determination anywhere you go and we promise you, you’ll go far.”
												<i style="float:right;">- Dorothea Jackson</i></b></p>
                            <p class="mb-4">Arrow Achievers has set a benchmark in producing brilliant and valiant cadets to serve the nation. We not only make the youth aware of various career choices but coach and train them to get selected for virtuous positions in
                                the Army, Navy , Air force, BSF,CRPF,ITBP, CISF,SSB ,Delhi Police and other State Police Forces. Eventually there will be no looking back. Once you are enrolled with us you can rest assured that you will be able to crack
                                all the tedious Competitive exams in the very first attempt. Since its inception the institute has adopted a Result- oriented approach and for the aspirants, who are willing to do something laudable, honourable and audacious
                                in life, this is the place to join. Arrow Achievers has an edge over the others in terms of impeccable infrastructure, extremely erudite and experienced faculty, meticulously designed study modules and innovative training
                                techniques. We are here to steer the course of your lives positively at every step and refine your innate skills so that you can achieve your career-oriented goals. </p>
                        </div>
                    </div>
                </div>





            </div>
            <%- include('../includes/footer_bottom.ejs') %>
    </div>

    <!-- Vendor -->
    <%- include('../includes/scripts.ejs') %>
        <script>
            $(document).ready(function() {
                $('#navAbout').addClass(' active');
            });
        </script>

</body>

</html>